table {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 45px;
    table-layout: fixed ;
    width: 100% ;
  }
  
  table td,
  table th {
    border-bottom: 1px solid #ddd;
    padding: 110px;
    width: 25%;
  }
  
    
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(0, 122, 124);
    color: white;
  }
  .visitor-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

  }
  